{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PokeDoki</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'PokeDoki/style.css' %}">
        <script src="{% static 'PokeDoki/poke.js' %}"></script>
    </head>
    <body>
        <div id="container">
            <div id="navbar">
                <div id="nothing-div">
                    <a href="" id="nothing">Nothing</a>
                </div>
                <div id="logo-div">
                    <a href="{% url 'index' %}"><img id="logo" src="{% static 'PokeDoki/Pokedoki.png' %}" alt=""></a>
                </div>
                <div id="search">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        <input type="text" id="search-box" placeholder="Search">
                        <input type="submit" value="Submit" id="search-btn">
                    </form>
                </div>
                
            </div>

            <div id="body">
                {% block body %}

                {% endblock %}
            </div>
            <div id="sidebar">
                <div class="sidebar-header">
                    <h1>Navs</h1>
                </div>
                <div class="sidebar-links">
                    <a class="links" id="index-pg" href="{% url 'index' %}">Welcome Page</a>
                    <a class="links" id="all-pokemons" href="">All Pokemons</a>
                </div>
            </div>

        </div>
    </body>
</html>